@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "goudy-old-style", Georgia, Serif, sans-serif;
}

/* small fade-in helper */
.fade-in {
  animation: fadeIn 600ms ease forwards;
  opacity: 0;
}
body {
  background-color: white; /* matches your navbar */
}
/* globals.css */
.full-dvh {
  height: 100dvh; /* dynamic viewport height for mobile */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* pager dot */
.pager-dot {
  width: 40px;
  height: 4px;
  border-radius: 9999px;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
